services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: matcha_finder
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

