* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.container {
  padding: 2rem;
}

.title {
  color: #2d5a27;
  margin: 0 0 0.5rem 0;
}

.tagline {
  color: #555;
  margin: 0;
}

